/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */
/* Base */
/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */


/* ========================================================================= */
/* Typography */
/* ========================================================================= */

body {
    font-family: $font-family-body;
    font-size: $font-size-base;
    line-height: $font-line-height;
}
/* ----------------------------------------------------- */
/* Headings */
/* ----------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    line-height: 1.15;
    a {
        text-decoration: none;
    }
}

/* ----------------------------------------------------- */
/* Links */
/* ----------------------------------------------------- */

a:link, a:visited {
    color: $color-primary;
}

a:hover, a:active {
    color: darken($color-primary, 15%);
}
